body {
  margin: 0;
  height: 100vh;
  background-color: #820bbe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calender-container {
  background-color: aliceblue;
  width: 250px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.3);
}

.month-name {
  background-color: #be3681;
  margin-top: 0;
  height: 50px;
  border-radius: 15px 15px 0 0;
  color: aliceblue;
  line-height: 50px;
  font-size: 25px;
  padding: 5px;
  font-family: cursive;
  font-weight: bold;
  margin-bottom: 10px;
}

.day-name {
  font-size: 12;
  color: #979797;
}

.day {
  font-size: 80px;
  font-family: cursive;
  margin-top: 20px;
  margin-bottom: 20px;
}

.year {
  color: #979797;
}
